.element__like-btn {
    align-self: center;
    border: none;
    margin-right: 5px;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like_disabled.svg);
    background-color: white;
    transition: opacity 0.4s ease-in-out;
}

.element__like-btn:hover {
    opacity: 50%;
}

.element__like-btn:active {
    background-image: url(../../../images/like_active.svg);
    opacity: 100%;
}