.elements__container {
    max-width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(361px, max-content));
    row-gap: 20px;
    column-gap: 17px;
}