.profile__info-edit {
    display: flex;
}

@media screen and (min-width: 320px) {
    .profile__info-edit {
        margin-left: 46px;
        justify-content: center;
    }
}

@media screen and (min-width: 568px) {
    .profile__info-edit {
        margin-left: 0;
    }
}

@media screen and (min-width: 1024px) {
    .profile__info-edit {
        margin-left: 0;
        justify-content: unset;
    }
}